<!--The content below is only a placeholder and can be replaced.-->
<div>
  <br>
  <list-component></list-component>
  <div class="row" style="margin-top: 30px; font-size: 10px;">
    <div class="col-md-12">
      <p style="width: 100%; text-align: center;">
        Made with <i class="fa fa-heart"></i> by <a href="http://zyxon.github.io">zyxon</a>
      </p>
    </div>
  </div>
</div>