<div id="edit_todo_modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit todo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <!-- THIS IS WHERE I WANT THE INITAL TEXT -->
            <input placeholder="Enter your updated todo text here" type="text" class="form-control" [value]="currentText" [(ngModel)]="currentText" (keyup.enter)="handleEditEnter()" autofocus>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id='submitButton' type="button" class="btn btn-primary" (click)="submitEdit()" data-dismiss="modal">Save changes
          <i style="margin-left: 5px;" class="fa fa-save"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
          <i style="margin-left: 5px;" class="fa fa-close"></i>
        </button>
      </div>
    </div>
  </div>
</div>