.todo-content{
    text-align: left;
    float: left;
    width: 85%;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.todo-close {
    float: right;
}

.todo-text {
    font-size: 1.25rem;
    margin-bottom: 0rem;
}