<h1 [@fadeInSlow] style="text-align: center"><img [@spin] [src]="imagePath" width="50px">{{title}}</h1>

<edit-todo-dialog [index] = "editIndex" [currentText] = "editCurrentText"
(onTodoUpdated)="editTodo($event)"></edit-todo-dialog>


<div class=row [@fadeInSlow]>
  <div class="col-lg-12">
    <div class="input-group input-group-lg">
      <input (keyup.enter)="addTodo(newTodoVal)" class="form-control" type="text" [(ngModel)]="newTodoVal" placeholder="New todo"
      />
      <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-lg" (click)="addTodo(newTodoVal)">
            <i class="fa fa-plus"></i>
          </button>
        </span>
    </div>
  </div>
</div>

<br>

<div class="row" *ngIf="showEmptyWarning" [@fadeIn]>
  <div class="col-md-12">
    <div (click)="showEmptyWarning = false;" style="text-align: center;" class="alert alert-warning">
      Todo text must not be empty!
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let todo of todos; let i = index" [@fadeIn]>
        <div class="todo-content">
          <p class="todo-text" (dblclick)="showEditTodoDialog(i)">
            {{todo}}
          </p>
        </div>
        <div class="todo-close">
          <button (click)="removeTodo(i)" class="btn btn-danger btn-sm">
              <i class="fa fa-remove"></i>
            </button>
        </div>
      </li>
    </ul>
    <p style="text-align: center;" *ngIf="todos.length === 0" [@fadeIn]>
      You have no todos. Why don't you go ahead and add some? :)
    </p>
  </div>
</div>